/*****
common
*****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

/*****
header
*****/

.logo {
    padding-top: 10px;
    padding-left: 18px;
    
}    

#titolo {
    font-size: 30px;
    display: inline-block;
   
}

/*****
main
*****/

.container-grey {
    background-color: #f6f8f9;
    margin: 50px auto;
    padding: 40px 170px;
    border-radius: 5px;
    border-left: 170px;

    

}

.container-button {
    background-color: white;
    border-radius: 5px;
    padding: 20px 50px;
    margin-bottom: 10px;

}

button {
    border-radius: 4px;
}

#add-task{
    background-color: #14aaf5;
    color: #ffffff;
    border-radius: 2px;
    border-color: #14aaf5;
    
}

#add-selection{
    background-color: #ffffff;
    color: #d4d9dd;
    border-radius: 2px;
    border-color: #c4cbd0;

}

.container-body{

    background-color: white;
    
    border-radius: 5px;
    padding: 10px 50px;
    margin-bottom: 20px;
    
}

.editorial {
    background-color: #09a9ed;
    color: white;
    border-radius: 3px;
    font-size: 11px;
}

.new-task{
    padding-top: 25px;
}

.today{
    padding-top: 30px;
}

#Q1 {
    background-color: #ab5de6;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    font-size: 11px;
}

#recruiting {
    background-color: #2cc6ab;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    font-size: 11px;
}

#mobile {
    background-color: #ff9b00;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    font-size: 11px;
}

.upcoming{
    padding-top: 30px;
}

#website{
    background-color: #ec4a9d;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    font-size: 11px;
}

#sales{
    background-color: #a3d116;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    font-size: 11px

}